body {
    text-align: center;
    position: relative;
    height: 100vh;
}


#dice {
    margin-top: 31%;
    width: 15%;
}

#p1 {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
}

#p2 {
    position: absolute;
    bottom: 10vh;
    right: 5vw;
}



